@import './../node_modules/antd/dist/antd.less';
@import './less/_flexbox.less';
@import './less/_layout.less';

@primary-color: #F4951E;
@secondary-color: #1C0E39;
@text-color: rgba(255, 255 ,255 ,0.85);

body {
  background-color: @secondary-color !important;
  color: #fff;
}