@import './../node_modules/antd/dist/antd.less';
@import './less/_flexbox.less';
@import './less/_layout.less';

@primary-color: #F4951E;
@secondary-color: #1C0E39;
@text-color: rgba(255, 255 ,255 ,0.85);
@text-color-secondary: rgba(255, 255, 255, 0.45);
@disabled-color: rgba(255, 255, 255, 0.25);
@text-color-dark: rgba(0, 0 ,0 ,0.85);

body {
  background-color: @secondary-color !important;
  color: #fff;
}

h1 {
  color: @primary-color;
}

h3 {
  color: @primary-color;
}

.content {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.form-container {
  background-color: #fff;
  border-radius: 5px;
  min-width: 28vw;
  min-height: 60vh;
  padding: 30px;
  justify-content: space-around;
}

.r-5 {
  border-radius: 5px;
}

.r-10 {
  border-radius: 10px;
}

.ant-radio-button-wrapper{
  color: rgba(0, 0 ,0 ,0.85) !important;
}

.ant-input-dark{
  color: rgba(0, 0 ,0 ,0.85) !important;
}

.data-field-label {
  color: #F4951E !important;
  border-color: #F4951E !important;
}

.ant-checkbox-wrapper {
  color: rgba(0,0,0,0.85) !important;
}

.ant-card-meta-description {
  color: @text-color-dark;
}

.ant-popover-message {
  color: @primary-color;
}

.ant-popover-buttons .ant-btn-default span {
  color: @primary-color;
}