.banner-container {
    height: 435px;
    justify-content:center;
    display: flex;
    flex-direction: row;
    background-color: #1C0E39;
    background-size:contain;
    background-position:center;

}

.banner-container-logo {
    width: 800px;
    z-index: 1;
}

.banner-container-logo-left {
    left: -200px;
    position: absolute;
}

.banner-container-logo-right {
    right: -200px;
    position: absolute;
    transform: rotate(180deg);
}

.banner-text {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-family: 'Bungee', cursive;
    font-size: 75px;
    position: absolute;
    z-index: 2;
}
    

.banner-text-top {
    color:rgb(247, 136, 45);
    height: 95px;
}

.banner-text-middle{
    align-self: center;
    color:rgb(247, 136, 45);
    height: 95px;
    padding-right: 80px;
}

.banner-text-bottom{
    align-self: flex-end;
    color:rgb(247, 136, 45);
    height: 95px;
}
