@import "./src/less/index.modules.less";

.header-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 4rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;

    .buttonContainer {
        color: white;
        display: flex;
        flex-direction: row;

        .button {
            padding: 1rem;
            font-size: 1.3rem;
        }
    }
}

.search-container {
    width: 50%;
}