.login-background-design {
    background-color: #1C0E39;
}

.banner-container-logo {
    width: 800px;
    z-index: -1;
}

.banner-container-logo-right {
    top: 320px;
}

.banner-container-logo-left {
    top: 170px;
}