.card-player{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    height: 50px;
}

.card-player-icon {
    font-size: 45px;
    margin-right: 5px;
    color: #F4951E;
}

.ant-card-meta-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.ant-card-body {
    padding-bottom: 10px;
}

.card-player-progressbar {
    display: flex;
    flex-direction: column;
}

.card-progressbar {
    height: 10px;
}

.ant-progress-bg {
    background-color: #F4951E;
}

.ant-card-bordered {
    border-radius: 15px;
}

.ant-card-actions {
    border-radius: 15px;
}

.ant-card-cover img {
    border-radius: 15px 15px 0 0;
}

span.anticon.anticon-heart.heart-icon{
    font-size: 23px;
    padding-top: 3px;
    color: #F4951E;
}
